 h2 {
    font-family: Lobster, Monospace; 
    color: royalblue;
    font-size: 120px;
    
  }

  .thick-green-border {
    border-color: royalblue;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }
#App {
    position: relative;
    top: 100px; 
    margin: 0 auto;
    width: 50%;
    height: 500px;
}
#subhead1 {
    margin-top: 20px;
}
#MainHead {
    position:relative;
    top:50px;
}

#subhead1 {
    font-size: 20px;
    font-weight: bold;
}

#subhead2 {
    font-size: 20px;
    font-weight: bold;
}